    output {
      elasticsearch {
        hosts => ["localhost:{{ es_api_port }}"]
        sniffing => true
        manage_template => false
        index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
        document_type => "%{[@metadata][type]}"
      }
    }
